.catalog-product-view .product.info.detailed div#product-review-container {
    display: none;
}

.catalog-product-view .product.info.detailed .block.review-add .block-content {
    display: none;
}
.billing-address-form .field #tooltip-label {
    display: none;
}
.payment-method-billing-address .checkout-billing-address .actions-toolbar {
    float: left;
    width: 100%;
}

.payment-method-billing-address .checkout-billing-address .actions-toolbar .primary {
    float: left;
    margin: 20px 0 30px 0;
}

.payment-method-billing-address .checkout-billing-address .actions-toolbar .primary button.action.action-cancel {
    margin: 0 0 0 20px;
}

.payment-method-billing-address .checkout-billing-address .actions-toolbar .primary button.action.action-update {
    float: left;
    background: #C70000;
    border-color: #C70000;
}
    .cms-index-index .column.main .trustpilot-widget {
    margin-top: 30px;
    border-top: 1px solid;
    padding-top: 30px;
}
#maincontent .columns .product-info-main .product-add-form .trustpilot-widget {
    margin-bottom: 10px;
}
.product_bottom_snippets .title {
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: .5px;
    line-height: 1.2;
    margin: 0 0 30px;
    font-weight: 700;
    text-align: center;
}

.product_bottom_snippets h3 {
    display: block;
    border-bottom: solid 2px #eaeaea;
    margin-bottom: 15px;
    padding-bottom: 17px;
    color: #777;
}

.product_bottom_snippets p {
    margin: 0;
    color: #777;
    line-height: 1.45;
    font-size: 14px;
}
.particle {
    width: 100%;
    float: left;
    border: 1px solid #000;
    margin-bottom: 35px;
}

.particle-row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #000;
}

.particle-col {
    width: 50%;
    float: left;
    border-right: 1px solid #000;
    padding: 5px 10px;
}

.particle-row:last-child, .particle-col:last-child {
    border: none;
}

.particle-col p:first-child {
    margin-bottom: 15px;
}

.particle-row:last-child .particle-col {
    padding-bottom: 30px;
}
.respiratory table,.respiratory th,.respiratory td {
    margin-bottom: 30px;
    border: 1px solid #000;
    text-align: center;
}

.respiratory th {
    width: 50%;
}
.respiratory-table {
    margin-top: 20px;
}
.respiratory-title {
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: .5px;
    line-height: 1.2;
    font-weight: 700;
    text-align: center;
}
.catalog-category-view .page-wrapper .page-bottom {
    background: #fff !important;
}
.respiratory-table {
    width: 50%;
    
}
table.frequently-tab {
    width: 56%;
}

table.frequently-tab td {
    width: 50%;
    border: solid 1px #000;
    text-align: left;
    font-size: 13px;
    font-weight: 600;
    line-height: 1.4;
    padding: 5px 15px;
}
.ffp-mask {
    margin-bottom: 30px;
}
.feq-main .feq-row {
    margin-bottom: 30px;
}
.feq-main .feq-row .feq-col .feq-table {
    width: 60%;
    border-collapse: collapse;
}
.feq-main .feq-row .feq-col .feq-table td, th {
    border: 1px solid #404040;
    padding: 8px;
}
.feq-main .feq-row  p {
    min-height: 14px;
}
.feq-main .feq-row .feq-col .feq-table tr td:nth-child(3),.feq-main .feq-row .feq-col .feq-table tr td:nth-child(4),.feq-main .feq-row .feq-col .feq-table tr td:nth-child(5) {
    text-align: center;
}